body {
  background-color: #66a3ff;
  background-image: url(../images/pawprint.png);
  background-repeat: repeat-y;
}

.wrapper {
  padding-left: 72px;
}

.heading {
  background-image: url(../images/grass.png)
}

.heading-wrapper {
  padding-left: 72px;
}

.white-text-heading {
  color: white;
}

.wine-color {
  color: #993333;
}

#paw-bottom-center {
  background-image: url(../images/pawprint.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.number-size {
  font-size: 32px;
}

table, tr, td, th {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px 10px;
  /* text-align: center; */
  /* width: 30px; */
}

label{
    float: left;
    width: 110px;
}

.align-titles{
  text-align: center;
}

#uLocation {
  height: 30px;
}

.buttons {
  text-align: center;
}

#radio-buttons label {
  width: 60px;
}

form {
  margin-top: 20px;
}

fieldset {
  width: 400px;
  margin: auto;
}
