body {
  font-family: Open sans;
}

header {
  padding-bottom: 30px;
}

#wrapper-container {
  padding: 25px;
  width: 1024px;
  border: 1px solid black;
  border-radius: 15px;
  margin: auto;
  background-image: linear-gradient(to bottom, #62e152, #74e446, #86e739, #97e92a, #a8eb12);
  box-shadow: 9px 9px 9px -2px rgba(0,0,0,0.65);
}

#navigation-bar {
  border: 3px solid black;
  border-radius: 20px;
  width: 250px;
  font-size: 15px;
  font-weight: bold;
  float: left;
}

.space-between-list {
  margin-top: 20px;
  list-style: none;
}

.inner-list-items {
  list-style: none;

}

.space-between-list-items {
  margin-top: 10px;
}

#sections-container {
  margin-left: 350px;
}

a:link {
  color: white;
}

a:visited {
  color: #630000;
}

a:hover {
  color: white;
  background-color: #f21313;
}

a:active {
  color: #0f0f0f;
}

p a {
  margin-left: 66%;
}
